.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.3rem;
  min-height: 220px;
  border-radius: 8px;
}

.card>* {
  margin-left: 4px;
}