/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none
}

/*  */
Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.logo {
  cursor: pointer;
}

.form-header {
  display: flex;
  gap: 1rem;
}

.img-flag {
  width: 30px;
  height: 30px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.row>* {
  padding: 0 10px;
}

.col {
  width: calc(100% / 4);
}